Source: mapnik-vectortile-input
Maintainer: Michael Reichert <michael.reichert@geofabrik.de>
Section: libs
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 13),
               libboost-dev,
               libmapnik-dev (>= 4.0.0),
               libprotozero-dev,
               libsqlite3-dev,
               rapidjson-dev,
               pkgconf
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/geofabrik/mapnik-mbtiles-vector
Vcs-Git: https://github.com/geofabrik/mapnik-mbtiles-vector.git
Homepage: https://github.com/geofabrik/mapnik-mbtiles-vector/
Rules-Requires-Root: no

Package: libmapnik4.0-vectortile-input
Architecture: any
Depends: libmapnik4.0,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Input plugin for the Mapnik map rendering library to
 use vector tiles in the Mapbox vector tile format as data source
 for map rendering.
